*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    column-gap: 2rem;
}
body{
    padding-top: 20px;
    padding-left: 20px;
}
.table-container{
    position: relative;
    max-width: 1240px;
    flex: 0 0 100%;
}
.date-line{
    position: relative;
    display: flex;
    margin-left: 150px;
}
.date{
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    border: 1px solid black;
}
.user_row{
    display: flex;

}
.user{
    padding: 0 20px;
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lawngreen;
    text-align: center;
    border: 1px solid black;
}
.user_date{
    flex: 1 1 20%;
    border: 1px solid black;
    min-height: 80px;
}
.backlog{
    flex: 0 0 auto;
    border: 1px solid red;
}

.backlog__list{
    list-style: none;
}
.backlog__list li{
    padding: 5px 10px;
    background-color: rgb(220, 168, 168);
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    max-width: 150px;
}
.task__name{
    font-size: 1.2rem;
    font-weight: bold;
    color: #0f285d;
}

.user_date{
    display: flex;
    flex-direction: column;
}
.task{
    min-height: 50px;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(213, 166, 166);
    border-bottom: 1px solid #1d7eba;
}

.arrow{
    position: absolute;
    height: 41px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    z-index: 9999;
}
.arrow_left{
    left: 150px;
    top: 0;
}
.arrow_right{
    right: 0;
    top: 0;
}
.task{
    width: 100%;
    max-width: 200px;
}
.task:hover{
    cursor: grab;
}
.selected {
    opacity: 0.6;
}
